* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  height: 100vh;
}

.chat_section {
  background-color: #fff;
  width: 50rem;
  /* height: 70vh; */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.barnd_section {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}
.barnd_section h1 {
  color: #444;
  text-transform: uppercase;
}
.barnd_section .image {
  width: 3rem;
}
.massege_area {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  height: 400px;
}
textarea {
  width: 100%;
  border: none;
  background-color: #fbfbfb;
  font-size: 16px;
  padding: 16px;
  resize: none;
}
.massege {
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  position: relative;
  margin-bottom: 60px;
}
.incomin {
  background-color: #8f8be8;
  color: #fff;
  margin-right: auto;
}
.outgoing {
  background-color: #e9eafd;
  color: #787986;
  margin-left: auto;
}
.massege h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}
.massege p {
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  .chat_section {
    width: 20rem;
  }
  .massege h4 {
    font-size: 15px;
  }
  .massege p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .chat_section {
    width: 26rem;
  }
}
@media only screen and (max-width: 900px) {
  .chat_section {
    width: 40rem;
  }
}
@media only screen and (max-width: 412px) {
  .chat_section {
    width: 19rem;
  }
}
